---
language: node_js
node_js:
  - "6.11.4"
cache:
  yarn: true
  directories:
    - node_modules
script:
  - ./scripts/run-travis-tests.sh
after_success:
  - bash <(curl -s https://codecov.io/bash) # CODECOV_TOKEN is not required for Travis to test public repositories
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js # COVERALLS_SERVICE_NAME and COVERALLS_REPO_TOKEN env variables is not required for Travis
  - cat ./coverage/lcov.info | ./node_modules/.bin/codacy-coverage # Needs CODACY_PROJECT_TOKEN env variable
  - ./node_modules/.bin/codeclimate-test-reporter < coverage/lcov.info # Needs CODECLIMATE_REPO_TOKEN env variable
deploy:
  provider: script
  skip_cleanup: true
  script: scripts/deploy-to-gh-pages.sh # Needs GIT_REMOTE_URL_WITH_AUTH
  on:
    branch: release
